/* Start Global Rules */
:root {
  --text-color: #04445f;
  --btn-color: #189ab4;
  --gray-color: #cecece;
  --white-color: #ffffff;
  --title-wg: 800;
  --sub-wg: 500;
  --title-sz: 36px;
  --brd-rd: 16px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
  overflow: hidden;
}

/* End Global Rules */
/* Start Products Section */
.product-section {
  width: 100%;
  margin: 2rem;
}
/* Header Section */
.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 1.4rem;
}
.products-header .product--title h1 {
  color: var(--text-color);
  font-size: var(--title-sz);
  font-weight: var(--title-wg);
}
.products-header .product--icon-chevron i {
  cursor: pointer;
  color: var(--text-color);
}
/* ==Product Section */
.products {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}
.products::-webkit-scrollbar {
  width: 0;
}
.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 350px;
  margin: 0 2rem;
}
/* img Section */
.img-product {
  position: relative;
  border-radius: var(--brd-rd);
}
.img-product i {
  color: var(--btn-color);
  font-size: 1.67rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40%;
  border: none;
}
.img-product i:hover,
.img-product i:focus {
  border: 1.7px #2e2e2e38 solid;
  background: #9e9e9e52;
  border-radius: 50%;
}
.img-product img {
  width: 350px;
  height: 350px;
  cursor: pointer;
}
.img-product img[title]:hover::after {
  color: var(--btn-color);
}
/* product info */
.product-info .product--head {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
.product-info .product--head h2 {
  color: var(--text-color);
  font-size: var(--title-sz);
  font-weight: var(--title-wg);
}
.product-info .product-price p {
  font-size: 24px;
  color: var(--text-color);
  font-weight: var(--title-wg);
}
.product-info .product-price span {
  font-size: 16px;
  font-weight: var(--sub-wg);
}
.product-info .product-sml-info {
  display: flex;
  justify-content: right;
}
.product-info .product-sml-info p {
  color: var(--text-color);
  font-weight: var(--sub-wg);
  font-size: 16px;
}
.product-info .btn-add-to-cart {
  display: flex;
  justify-content: right;
  margin-top: 1rem;
}
.product-info .btn-add-to-cart button {
  color: var(--text-color);
  font-weight: var(--title-wg);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  width: 15rem;
  height: 2.6rem;
  border: 1px var(--btn-color) solid;
  border-radius: calc(var(--brd-rd) * 2);
  transition: all 0.2s;
}
.product-info .btn-add-to-cart p {
  transition: all 0.2s;
}
.product-info .btn-add-to-cart button:hover p,
.product-info .btn-add-to-cart button:focus p {
  transform: scale(1.05);
}
/* End Products Section */
/* Start Footer */
.footer {
  border-top: 1px var(--gray-color) solid;
}
.footer .container {
  padding-top: 4rem;
  padding-bottom: 3rem;
}
.footer .container .contact-head {
  margin: 1rem 0;
  display: flex;
  justify-content: right;
}
.footer .container .contact-head h1 {
  font-size: 24px;
  color: var(--text-color);
  font-weight: var(--title-wg);
}
.footer .container .contact-body {
  display: flex;
  flex-direction: row-reverse;
  border: 1px var(--gray-color) solid;
  border-radius: var(--brd-rd);
  flex-wrap: wrap;
  padding: 0 2rem;
}
.footer .container .contact-right-side {
  margin-left: auto;
}
.footer .container .contact-right-side ul {
  list-style: none;
  margin-top: calc(50% / 2);
}
.footer .container .contact-right-side ul li {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 10px;
}
.footer .container .contact-right-side ul li i {
  margin-left: 5px;
  font-weight: var(--sub-wg);
}
.footer .container .contact-right-side ul li i,
.footer .container .contact-right-side ul li a {
  color: var(--text-color);
  font-size: 16px;
  text-decoration: none;
}
.footer .container .contact-left-side {
  margin-left: auto;
}
.footer .container .contact-left-side ul {
  list-style: none;
  margin-top: calc(50% / 4);
}
.footer .container .contact-left-side ul li {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 10px;
}
.footer .container .contact-left-side ul li i {
  margin-left: 5px;
}
.footer .container .contact-left-side ul li i,
.footer .container .contact-left-side ul li a {
  color: var(--text-color);
  font-size: 16px;
  text-decoration: none;
}
.footer .container .contact-left-side .contact-form .input--phone {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}
.footer .container .contact-left-side .contact-form .input--phone input {
  text-align: end;
  width: 232px;
  height: 32px;
  padding: 0 10px;
  font-family: "Poppins", sans-serif;
  border: 1px var(--gray-color) solid;
  color: var(--gray-color);
  border-radius: 4px;
}
.footer .container .contact-form .input-text-area {
  position: relative;
  border: 1px var(--gray-color) solid;
  color: var(--gray-color);
  border-radius: 4px;
}
.footer .container .contact-form .input-text-area textarea {
  width: 501px;
  height: 149px;
  padding: 0 10px;
  border: 1px var(--gray-color) solid;
  color: var(--gray-color);
  border-radius: 4px;
  text-align: end;
}
.footer .container .contact-form .input-text-area textarea:focus,
.footer .container .contact-form .input-text-area textarea:hover {
  outline: none;
}
.footer .container .contact-form .input-text-area button {
  cursor: pointer;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 90px;
  height: 40px;
  background-color: var(--btn-color);
  color: var(--white-color);
  border-radius: 40px;
  outline: none;
  border: none;
}
.footer .container .contact-form .input-text-area button:focus,
.footer .container .contact-form .input-text-area button:hover {
  outline: none;
  border: none;
}
/* End Footer */
